* {
    margin: 0;
    padding: 0;
}

.system-builder-container {
    /* background-color: red; */
    height: 100vh;
    display: flex;
    width: 100%;

}
.components-title-container {
    width: 100%;
    background-color: grey;
    height: 6.25rem;
    display: flex;
    align-items: center;
}

.components-section-container {
    width: 50%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* background-color: pink; */

}
.components-title {
    font-size: 64px;
    margin: 1rem;
}
.components-list-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    /* background-color: blue; */
}
.component-list-tile {
    width: 90%;
    text-align: left;
    font-size: 24px;
    margin: 1rem 1rem;
}

.list-ng-components {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    /* background: purple; */
}
.component {
    margin: 0.625rem;
    display: flex;
    justify-content: space-between;
    width: 95% ;
    height: 6.25;
    /* background: green; */
    border: 1px solid #333;
    border-radius: 7px;
}
.component-img-name {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
}
.component-img {
    /* background-color: red; */
    width: 6.25rem;
    height: 6.25rem;
    margin: 0.625rem;
}
.component-add-btn {
    width: 10%;
    border-radius: 7px;
    margin: 0.625rem;
}



.parts-section-container {
    width: 50%;
    height: 100%;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parts-title-search {
    height: 8.25rem;
    /* background: red; */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.parts-title-search h1 {
    font-size: 36px;
}
.parts-searchbox {
    height: 2.5rem;
}

.list-card-wrap {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    overflow-y: scroll;
}
.parts-list-container {
    height: 80%;
}
.parts-card {
    margin: 0.625rem 0rem;
    height: 15rem;
    width: 100%;
    /* background: #d9d9d9; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid #333;

}

/* .button2 {
    margin: 1rem 1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    width: 12.5rem;
    height: 2.5rem;
    background: #d9d9d9;
    border-radius: 7px;
    border-style: none;
} */
.parts-product-img {
    width: 100%;
    height: 10rem;
    display: flex;

    /* background-color: rgb(140, 140, 197); */
}
.parts-product-img img {
    margin: 1rem 1rem;

    width: 10rem;
    height: 7rem;
    /* background-color: rgb(45, 45, 163); */
}
.parts-product-info {
    width: 100%;
    margin: 1rem 1rem;

}
.parts-product-info h1   {
    margin: 0rem  1.875rem;
}
.parts-product-info p    {
    margin: 0.625rem 1.875rem;
}
.parts-price {
    width: 100%;
    text-align: end;
}
.parts-price h1 {
    margin: 0rem 1rem;
}
.parts-info-select {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    justify-content: space-between;
    padding: 0.625rem;
    

    /* border-top: 1px solid #444; */
}
.parts-info-select a { 
    text-align: center;
    /* margin: 0rem 1rem; */
    padding: 1rem;
    background-color: #999;
    width: 9rem;
}

.checkout-container {
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem 1rem;

}
.checkout-total {
    display: flex;
    width: 50%;
    padding: 1.25rem;
    justify-content: flex-end;
    background-color: red;
}
.checkout-btns {
    display: flex;
    width: 50%;
}
.checkout-addtocart {
    width: 20%;
    padding: 1.25rem;
}
.checkout-checkout {
    margin: 0rem 1rem;
    width: 70%;
    padding: 1.25rem;

}