* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* variable to */
:root {
    --heading-font-fam: 'Helvetica';
    --heading-font-size: 2.5rem;
    --heading-font-color: #444;
}


body {
    background-color: #f5f5f5;
    font-family: verdana;
  }
.styled-hr {
    width: 80%;  /* Make the hr a bit narrower than the div */
    border: none;
    border-top: 2px solid #000;  /* Adds a solid line */
    margin: 0;  /* Remove default margin */
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* ==================== para sa Navbar ==================== */
nav {
    align-items: center;

    background-color: #e8e8e8;
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
/* ==================== para sa Navbar Logo, searchIcon and userIcon ==================== */

.logo-search-user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* height: 6.25rem; */
    max-height: 6.25rem;
    margin: 0.5rem 6.25rem;
}
.logo-search-user-container h1 {
    font-size: var(--heading-font-size);
    color: var(--heading-font-color);
}
/* navbar navigation (home, systembuilder, prebuild and laptop) */
nav ul {
    display: flex;
    height: 3.125em;
    list-style: none;
    align-items: center;
    justify-content: center;
    
    
}
/* navbar navigation btns */
nav ul li a {
    text-decoration: none;
    color: var(--heading-font-color);
    padding: 0;
    margin: 0rem 1rem;
    font-size: 14px;
    font-weight: 400;
}

/* Home to */
.home-hero-section {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 100%;
}
.home-hero-section h1 {
    font-size: 84px;
    color: #4a4a4a;
    margin: 1rem 0rem -2rem 0rem;
}
.home-hero-section h2 {
    font-size: 28px;
    color: #888888;
    font-weight: 500;
    margin: 1rem 0rem 1rem 0rem;

}
.home-hero-section p {
    width: 50%;
    font-size: 14px;
}
.home-button-no1 {
    margin: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    width: 12.5rem;
    height: 2.5rem;
    background: #d9d9d9;
    border-radius: 7px;
    border-style: none;
}

#home-latest-product-container {
    width: 100%;
    background: #444;
    height: 33.75rem;
}


/* system builder to */
.nav-title {
    display: flex;
    flex-direction: column;

    height: 6.25rem;
    width: 100%;
    background: #444;
    color: #e8e8e8;
    text-align: center;
    justify-content: center;
}
.nav-title h1 {
    font-size: 36px;
    color: #e8e8e8;
    text-decoration: none;
    margin: 0.5rem;
}

.nav-title p a {
    font-size: 14px;
    color: #e8e8e8;
    text-decoration: none;
}
.content {
    height: 100vh;
}


/* check-out */
.check_container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* gap: 1.5rem; */
    background-color: #e8e8e8;
}

.check_container h3 {
    color: #4a4a4a;
}

.chck_1box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* padding: 1.5rem; */
    background-color: white;
    margin: 1.5rem;
    height: 85%;
}

.review_title {
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.rev_product {
    /* background-color: antiquewhite; */
    width: 90%;
    position: relative;
    overflow-y: scroll;
    height: 50%;
}

.x_btn {
    margin: 0.625rem;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 0.625rem;
   padding: 0.625rem   
}

.styled-hr2 {
    width: 90%;  /* Make the hr a bit narrower than the div */
    border: none;
    border-top: 2px solid #000;  /* Adds a solid line */
    margin: 1rem 2rem;  /* Remove default margin */
}


.all_review {
    list-style: none;
    display: flex;
    /* gap: 1.5rem; */
    justify-content:  space-between;
    width: 100%;   
    height: 7.688rem; 
    /* background-color: green; */
    margin-top: 1.2rem;
    border: 1px solid #333;
    border-radius: 7px;

}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: green; */
}
.qty_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: rgb(30, 123, 205); */
}

.subtotal_div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    height: 2.5rem;
}

.delivery_container {
    /* background-color: green; */
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.select_title {
    height: 1.5rem;
}

.delivery_div {
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    height: 5rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.delivery_option1 {
    width: 20%;
    height: 1.5rem;
}

.delivery_info {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem 2rem; */
    width: 90%;
    /* background-color: gray; */
}

.chck_2box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* padding: 1.5rem; */
    background-color: white;
    margin: 1.5rem;
    height: 85%;
}

.delivery_title {
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.fields {
    width: 90%;
    height: 3rem;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}


.chck_2box h6 {
    color: #b5b5b5;
}

.chck_2box h5 {
    color: #4a4a4a;
}

.chck_2box input {
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 2rem;
    border-radius: 4px;
}

.inp_text {
    margin: 10px 0 0 0;
}

.chck_2box textarea {
    width: 100%;
    height: 5rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 6rem;
}

/* =========================== */

.chck_3box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* padding: 1.5rem; */
    /* background-color:red; */
    margin: 1.5rem;
    height: 95%;
}


.payment_title {
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center;  
}

table {
    margin-top: 1rem;
    width: 90%;
    /* border-collapse: collapse;
    border: 1px solid black;
    border-radius: 10px; */
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #d9d9d9;  
}

.for_bordertop {
    border: 1px solid #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_borderbottom {
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    border: 1px solid #d9d9d9;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.td_container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

/* .inside_td {
    display: flex;
    justify-content: space-between;
} */


.inside_3box {
    background-color: white;
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside2_3box {
    background-color: white;
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;

    align-items: center;
}


.order_title {
    width: 90%;
    height: 3.5rem;
    display: flex;
    align-items: center; 
}

.price_product {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.shipping_div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    height: 2.5rem;
}

.sales_tax {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 2.6rem;
}

.order_total {
    background-color:#888888;
    width: 100%;
    height: 4rem;
    color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.order_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 4rem;
}

.order_btn {
    height: 4rem;
    width: 100%;
    background-color: #4a4a4a;
    color: #ffff;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer; 
} 

.order_btn .complete-order-btn{
    text-decoration: none;
    color: white;
}

.order_btn:hover {
    background-color: #060000;
}


.payment_container {
    display: flex;
}