<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% comment %} THIS IS WHERE THE TITLE GOES {% endcomment %}
        {% block title %}
            E-COMMERCE | E-COMMERCE 
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="{% static 'Basket.css' %}">
    <link rel="stylesheet" href="{% static 'Checkout.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage.css' %}">
    <link rel="stylesheet" href="{% static 'Laptop' %}">
    <link rel="stylesheet" href="{% static 'Login.css' %}">
    <link rel="stylesheet" href="{% static 'Register.css' %}">
    <link rel="stylesheet" href="{% static 'Navigation.css' %}">
    <link rel="stylesheet" href="{% static 'PreBuildPC.css' %}">
    <link rel="stylesheet" href="{% static 'SystemBuilder.css' %}">
    
</head>
<body>

    <nav class="Navigation">
        {% comment %} 
            THE STYLING GOES HERE
        {% endcomment %}
    </nav>

    <main>
        {% block content %}
            <h1>MASTER INDEX</h1>
        {% endblock  %}
    </main>
    
</body>
</html>