<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% comment %} THIS IS WHERE THE TITLE GOES {% endcomment %}
        {% block title %}
            E-COMMERCE | E-COMMERCE 
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static '/styles/master.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static '/styles/Basket.css' %}">
    <link rel="stylesheet" href="{% static '/styles/Checkout.css' %}">
    <link rel="stylesheet" href="{% static '/styles/LandingPage.css' %}">
    <link rel="stylesheet" href="{% static '/styles/Laptop' %}">
    <link rel="stylesheet" href="{% static '/styles/Login.css' %}">
    <link rel="stylesheet" href="{% static '/styles/Register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Navigation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/PreBuildPC.css' %}">
    <link rel="stylesheet" href="{% static 'styles/SystemBuilder.css' %}">
    
</head>
<body>

    <nav class="Navigation">
        {% comment %} 
            THE STYLING GOES HERE
        {% endcomment %}
        <div class="logo-search-user-container">
            <h1 style="opacity: 0;">....</h1>
            <h1>PCNEED</h1>
            <div class="search-user-container">
                {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
                <a href="#">Logout</a>
                {% else %}
                <a href="#">Login</a>
                {% endif %}
            </div>
            
        </div>
        <hr class="styled-hr">

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">System Builder</a></li>
            <li><a href="#">Prebuild PC</a></li>
            <li><a href="#">Laptop</a></li>
        </ul>

    </nav>

    <main>
        {% block content %}
            <h1>MASTER INDEX</h1>
        {% endblock  %}
    </main>
    
    <footer>
        <div>
            <h1>LOGO</h1>
        </div>
        <p>&copy; 2024 PCNEED. All Rights Reserved.</p>
    </footer>

</body>
</html>