{% extends "master.html" %}


{% block title %}
    Register | APP
{% endblock  %}

{% block content %}

<div id="container-register">
    <div id="title">
        <i class="material-icons lock">|</i> Register
    </div>

    <form method="post" action="">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Register" />
    </form>

    <div class="privacy">
        <a href="#">Privacy Policy</a>
    </div>

    <div class="register">
        Do you already have an account?
        <a href="{% url 'USER:LOGIN' %}"><button id="register-link">Log In here</button></a>
    </div>
</div>

{% endblock  %}