{% extends 'master.html' %}



{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/styles/addtocart.css' %}">
<div class="nav-title">
    <h1>TITLE</h1>
    <p>
        <!-- to HOME                             current page -->
        <a href="{% url 'product:home' %}">Home</a> 
        > 
        <a href="{% url 'product:addtocart' %}">Shopping Cart</a> 
    </p>
</div>


<div class="allcart_container">
    <div class="cart_info">
        <div class="basket_container">
            <h1 class="basket_text">BASKET</h1>
            <div class="search_div">
                <input type="text">
            </div>
        </div>
        <ul class="scrollbar">
            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="div_each">
                <div class="for_checkbox">
                    <input type="checkbox" id="checkbox1">
                </div>
                <div class="box_text">
                    <div class="for_space">
                        <img src="" alt="product image">
                        <div class="product_text">
                            <p class="product_name">Product Name</p>
                            <p class="price_text">Price</p>
                            <div class="button_div">
                                <button>INFO</button>
                                <button>SELECT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div>
        </div>
    </div>
</div>

<div class="checkout_container">
    <div class="checkout_div">
        <div class="checkout_text">
            <div class="for_flex">
                <p>Text</p>
                <p>Text</p>
            </div>
            <div class="vertical_line"></div>
            <div class="for_flex">
                <p>Text</p>
                <p>Text</p>
            </div>
        </div>
        <button>CHECKOUT</button>
    </div>
</div>


{% endblock %}