{% extends 'master.html' %}

{% block title %}Laptop{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/styles/laptop.css' %}">

<div class="nav-title">
    <h1>Laptop</h1>
    <p>
        <!-- to HOME                             current page -->
        <a href="{% url 'product:home' %}">Home</a> > <a href="{% url 'product:laptop' %}">Laptop</a>
    </p>
</div>

<section class="content">
  <!-- Filter Bar -->
<div class="filter-bar">
  <h5>PRODUCTS</h5>
  <select>
  <option>Text here</option>
  <!-- Add more options if needed -->
  </select>
  <select>
      <option>Text here</option>
      <!-- Add more options if needed -->
  </select>
  <input type="text" placeholder="Search here...                                           🔍">
</div>

  <!-- Product Grid -->
<section class="product-grid">
  <!-- Product Card -->
  <ul class="product-container">

<!-- djangotags -->
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
<!-- ==================================== -->


<!-- dummy product -->
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>



      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>


      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>
      <li class="product-card">
        <div class="image-placeholder">
          <img src="" alt="product-img">
        </div>
        
        <div class="product-title">
          <h1>title</h1>
        </div>

        <div class="product-details-container">
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          <p class="product-details">details</p>
          
        </div>

        <div class="product-price">
          <h1>price</h1>
        </div>

        <div class="product-btn">
          <button>button 1</button>
        </div>
      </li>

</ul>
    
          
  <!-- Add more product cards as required for your layout -->
</section>

<!-- Footer -->


</body>
</html>
</section>

{% endblock %}

