{% extends 'master.html' %}




{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/styles/login.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% if page == 'login'%}

<div class="headerLog">
    <p> <a href="{% url 'product:home' %}">home</a> > <a href="{% url 'product:login' %}">Login</a></p>
</div>
{% else %}
<div class="headerLog">
    <p> <a href="{% url 'product:home' %}">home</a> > <a href="{% url 'product:login' %}">Register</a></p>
</div>
{% endif %}

{% if page == 'login' %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<section class="login-form-container">
    <div class="login-form">
        <form method="POST" action="" >
            {% csrf_token %}
            
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter Username"/>
    
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password"/>
    
            <button type="submit" value="Login"  class="loginbtn">Login</button>
        </form>
    
        <p>haven't signed up yet ?</p>
        <a href="{% url 'product:register' %}">Sign Up</a>
    </div>
    
    {% else %}
    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">lock</i> Register
        </div>
    
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off">
            </div>
    
            <div class="clearfix"></div>
    
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                {{form.username}}
            </div>
    
            <div class="clearfix"></div>
    
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                {{form.password1}}
            </div>
    
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                {{form.password2}}
            </div>
    
            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">I accept Terms of Service</span>
            </div>
    
            <input type="submit" value="Register" />
        </form>
    
        <div class="privacy">
            <a href="#">Privacy Policy</a>
        </div>
    
        <div class="register">
            Do you already have an account?
            <a href="{% url 'product:login' %}"><button id="register-link">Log In here</button></a>
        </div>
    </div>
    <!-- <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input-group">
                {{form.username}}
            </div>
            <div>
                {{form.password1}}
            </div>
            <div>
                {{form.password2}}
            </div>
    
            <input type="submit" value="Register" />
        </form>
    
        <p>already signed up yet ?</p>
        <a href="{% url 'product:login' %}">Login</a>
    </div> -->
    {% endif %}

</section>


{% endblock %}

