
{% extends 'master.html' %}

{% block title %}Pre-Build Pc{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/styles/pre_build_pc.css' %}">

<div class="nav-title">
    <h1>Pre-Build PC</h1>
    <p>
        <!-- to HOME                             current page -->
        <a href="{% url 'product:home' %}">Home</a> > <a href="{% url 'product:pre_build_pc' %}">Prebuild PC</a>    
    </p>
</div>

<section class="content">
    <!-- Filter Bar -->
<div class="prebuild-filter-bar">
    <h5>PRODUCTS</h5>
    <select>
    <option>Text here</option>
    <!-- Add more options if needed -->
    </select>
    <select>
        <option>Text here</option>
        <!-- Add more options if needed -->
    </select>
    <input type="text" placeholder="Search here...                                           🔍">
</div>

<!-- Product Grid -->
<section class="prebuild-product-grid">
    <!-- Product Card -->
    <ul class="prebuild-product-container">

<!-- djangotags -->
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
<!-- ==================================== -->


<!-- dummy product -->
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>



        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>


        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>
        <li class="prebuild-product-card">
        <div class="prebuild-image-placeholder">
            <img src="" alt="product-img">
        </div>
        
        <div class="prebuild-product-title">
            <h1>title</h1>
        </div>

        <div class="prebuild-product-details-container">
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            <p class="prebuild-product-details">details</p>
            
        </div>

        <div class="prebuild-product-price">
            <h1>price</h1>
        </div>

        <div class="prebuild-product-btn">
            <button>button 1</button>
        </div>
        </li>

</ul>
    
            
    <!-- Add more product cards as required for your layout -->
</section>

<!-- Footer -->


</body>
</html>

</section>
{% endblock %}
