{% extends 'master.html' %}

{% block title %}System Builder{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/styles/systembuilder.css' %}">

<div class="nav-title">
    <h1>SYSTEM BUILDER</h1>
    <p>
        <!-- to HOME                             current page -->
        <a href="{% url 'PRODUCT:home' %}">Home</a> > <a href="{% url 'PRODUCT:system_builder' %}">System Builder</a>
    </p>
    
</div>
<section class="system-builder-container">
    <section class="components-section-container">
        <h1 class="components-title">Logo</h1>
        <div class="components-list-container">
            <p class="component-list-tile">Components</p>
            <ul class="list-ng-components">
                
                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #1</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #2</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #3</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #4</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #5</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #6</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #7</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #8</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #9</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #10</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>

                <li class="component">
                    <div class="component-img-name">
                        <img src="" alt="component img" class="component-img">
                        <p>Components #11</p>
                    </div>
                    
                    <button class="component-add-btn">ADD</button>
                </li>
            </ul>
        </div>
    </section>
    <section class="parts-section-container">
        <div class="parts-title-search">
            <h1>product</h1>
            <input type="text" class="parts-searchbox">
        </div>
        <div class="parts-list-container">
            <ul class="list-card-wrap">
<!-- django tags -->
                <li class="parts-card">
                    <div class="parts-product-img">
                        <img src="" alt="image here">
                        <div class="parts-product-info">
                            <h1>title</h1>
                            <p>description</p>
                        </div>
                    </div>
                    <div class="parts-price">
                        <h1>price</h1>
                    </div>
                    
                    <div class="parts-info-select">
                        <a href="">info</a>
                        <a href="">select</a>
                    </div>
                </li>

    <!-- dummy parts -->
                <li class="parts-card">
                    <div class="parts-product-img">
                        <img src="" alt="image here">
                        <div class="parts-product-info">
                            <h1>title</h1>
                            <p>description</p>
                        </div>
                    </div>
                    <div class="parts-price">
                        <h1>price</h1>
                    </div>
                    
                    <div class="parts-info-select">
                        <a href="">info</a>
                        <a href="">select</a>
                    </div>
                </li>
                <li class="parts-card">
                    <div class="parts-product-img">
                        <img src="" alt="image here">
                        <div class="parts-product-info">
                            <h1>title</h1>
                            <p>description</p>
                        </div>
                    </div>
                    <div class="parts-price">
                        <h1>price</h1>
                    </div>
                    
                    <div class="parts-info-select">
                        <a href="">info</a>
                        <a href="">select</a>
                    </div>
                </li>
                <li class="parts-card">
                    <div class="parts-product-img">
                        <img src="" alt="image here">
                        <div class="parts-product-info">
                            <h1>title</h1>
                            <p>description</p>
                        </div>
                    </div>
                    <div class="parts-price">
                        <h1>price</h1>
                    </div>
                    
                    <div class="parts-info-select">
                        <a href="">info</a>
                        <a href="">select</a>
                    </div>
                </li>
                <li class="parts-card">
                    <div class="parts-product-img">
                        <img src="" alt="image here">
                        <div class="parts-product-info">
                            <h1>title</h1>
                            <p>description</p>
                        </div>
                    </div>
                    <div class="parts-price">
                        <h1>price</h1>
                    </div>
                    
                    <div class="parts-info-select">
                        <a href="">info</a>
                        <a href="">select</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </section>

    
</section>
<div class="checkout-container">
    <div class="checkout-total">
        <p>subtotal</p>
        <p>|</p>
        <p>total</p>
    </div>
    <div class="checkout-btns">
        <button class="checkout-addtocart">Add to cart</button>
        <button class="checkout-checkout" onclick="window.location.href='check_out'">Check Out</button>
    </div>
</div>
{% endblock %}
